#container {
    background-color: gray;
    overflow: auto;
}

.box {
    width: 100px;
    height: 100px;
    margin: 5px;
}

/* Anbefales ikke */
/* .clear {
    clear: both;
} */

/* du kan sjekke */
/* .clearfix:after {
    content: "";
    display: block;
    clear: both;
} */

#first {
    background-color: red;
    float: left;
}

#second {
    background-color: blue;
    float: left;
}

#third {
    background-color: green;
    float: left;
}