div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
      background: url("https://picsum.photos/800/600?random=1"), rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    /* background: url("https://picsum.photos/800/600?random=1"), url("https://picsum.photos/800/600?random=2"); */
    /* backgraound-size: contain; */
    background-size: cover;
  }